[2020-03-01 17:31] curquiza opened #4 "Automatize push"
Currently, I manually push changes to Heroku.
It could be better to add a GitHub Action to automatically deploy on Heroku repository when pushing on `master` branch, or with a `tag`.

[2020-03-01 17:36] curquiza opened #5 "docs-scraper for everyone"
Currently, docs-scraper scraps only MeiliSearch's documentation.

This repository could work for every documentation. But, so far, the repo is not perfect and the README does not provide enough information.

The steps are:
- [x] change the code to remove all "useless" part. Solve with #8.
- [x] detail the README to explain how to use it and <s>how I deploy it on Heroku with a cron job.</s> Instead

[2020-03-31 11:30] curquiza opened #7 "Make all the tests work and put a GH Action"
Trigger a GitHub action on each PR to check all the tests.

[2020-04-08 12:42] #5 closed

[2020-04-08 15:55] curquiza opened #11 "Use facets"
Make the scraper use the facets (when the facets feature will be ready in a stable version of MeiliSearch)

[2020-04-08 16:52] curquiza commented on #7
Closed with #12

[2020-04-08 16:52] #7 closed

[2020-04-08 16:53] curquiza commented on #4
No need to push on Heroku since we create a docker image and we scrap the documentation website on each deployment.
Closed with #9

[2020-04-08 16:53] #4 closed

[2020-05-07 13:33] curquiza opened #14 "Keep the settings of the previous index"
Currently, for performance reasons, each time the scraper runs, it deletes the index, creates a new one, adds [the default settings](https://github.com/meilisearch/docs-scraper/blob/32452e4af260c217254cec49097ae3bc31d8a556/scraper/src/meilisearch_helper.py#L50), and adds new documents (the content of the website).

Problem: if the user set up his/her own settings manually (for example, adding syno

[2020-05-07 13:43] Kerollmops commented on #14
Putting the setting before writing documents should be much faster!

[2020-05-07 13:54] curquiza commented on #14
Oh good to know!
That's what we already do (lucky we are!) but I badly describe our process in this issue. I update it!

[2020-05-12 14:11] curquiza opened #15 "Update the README according to new tools and the article"
Once the article about "How to integrate a search bar for your docs" will be released, we should update the README to take into account:
- the vuepress plugin
- the article
- docs-searchbar.js

[2020-05-12 16:19] curquiza opened #16 "Upgrade python version to 3.8"
It's not currently possible to handle multiple python versions in the Pipfile -> https://github.com/pypa/pipenv/issues/1050

We should upgrade the python version of this package to 3.8

[2020-05-13 12:59] curquiza opened #17 "Remove nb_hits update in config file"
Since we don't use this metric (we indeed don't update the config file and push it to GitHub after updating it) we should remove the file update in the code.

But I think it's still interesting to keep the final prompt that says:
[code]

[2020-05-13 17:25] eskombro opened #18 "Add a link in the README to the integration guides"
Related to meilisearch/integration-guides#7

[2020-05-14 12:06] #18 closed

[2020-05-15 20:53] renehernandez opened #20 "Ability to update documents only from the same domain"
I have setup Meilisearch for a multi-site search frontend recently at work and I am using the *docs-scraper* image to push the scraped data from each of the sites to the Meilisearch server. Out-of-box, it works great!!

As we are planning to index more documents from different internal websites, I am running into the problem of needing to use different configurations files to scrape sites with dif

[2020-05-18 09:21] curquiza commented on #20
Hey @renehernandez! Thanks for using this tool! 😁

If I understand your issue, you want to scrap data from different websites. But these websites need different config files (for the scraper) and you would like to have all your documents in the same index -> which is not currently possible because, as you noticed, each time the scraper scrapes a website, it deletes the previous documents.

Indeed,

[2020-05-18 13:58] renehernandez commented on #20
@curquiza Thanks for the detailed answer! Yes, as you said, my problem with multiple indexes is that is not easy to search against all of them at the same time. The problem is compounded since I am using [docs-searchbar.js](https://github.com/meilisearch/docs-searchbar.js) to provide a search endpoint and it only supports specifying a single index name to search against.

The problem is not differ

[2020-05-18 15:38] curquiza commented on #20
Okaaaaay, hope I've better understood your problem, but I might found your solution in the config file!
Here the kind of things you could do:
[code]

Here, all documentation pages will use the selectors defined in `selectors.default` while the page under `./concepts` will use `selectors.concepts` and those under `./contributors` will use `selectors.contributors`.

I haven't taken the time yet to r

[2020-05-18 15:41] curquiza opened #21 "More detailed documentation about different fields available"
Some useful fields in the config file are not documented yet.
See #20.

[2020-05-18 17:45] renehernandez commented on #20
@curquiza I will explore using named selectors with the selectors keys in the url object. I believe that would solve my use case, as long as it can be applied to completely different websites, not just different pages of the same website. I will get to it later on this week and close the issue if everything works out correctly.

[2020-05-19 07:50] curquiza commented on #20
Waiting for your feedback 😁 thanks!

[2020-05-21 13:34] renehernandez commented on #20
@curquiza That works just fine!! Thanks for all the help

[2020-05-21 13:34] #20 closed

[2020-06-03 13:10] #14 closed

[2020-06-09 16:21] kappa-wingman opened #26 "Cannot scrap documents into meilisearch"
Greetings,

I am using Pelican as my blog generator.
I am not using Ubuntu so I need to use docker to run the doc-scraper.

I can run the [small tutorial](https://github.com/meilisearch/MeiliSearch) and I can import data into the meilisearch.

But I cannot run the doc-scraper to get data into meilisearch.
Below is the error:

Traceback (most recent call last):
  File "./docs_scraper", line 22, in

[2020-06-09 16:38] curquiza commented on #26
Hello @kappa-wingman!

I succeeded to reproduce your issue with the `v0.9.1` (or the current `latest`) docker image.

It looks like it does not work because you haven't set any `custom_settings` fields, **but this field is not mandatory and you should NOT get any error**. Sorry for that!

@bidoubiwa, it looks like it's linked to the PR you did about the custom settings (#22). Did you test that it

[2020-06-09 18:03] kappa-wingman commented on #26
Thanks for the quick reply. I can import documents now.

[2020-06-10 10:05] bidoubiwa commented on #26
Hey! I'm on it

The tests are not testing if the scraper works. Since the error comes from just before the scrape the tests don't go through there.

[2020-06-10 10:19] curquiza commented on #26
@bidoubiwa I let you open an issue about improving the test in docs-scraper :)

[2020-06-10 10:20] #26 closed

[2020-06-11 12:01] bidoubiwa opened #32 "Tests meilisearch implementation"
These tests only tries communication with MeiliSearch and not the pertinence of the scraper:

Tests should be made to test if MeiliSearch implementations works correctly.

In `meilisearch_helper.py` the following is done:

- Delete the scrape index if it already exists
- Create a new index with the same name
- Add default and custom settings to index

These should be tested if it was done successf

[2020-06-14 12:59] #15 closed

[2020-06-14 12:59] #21 closed

[2020-06-19 13:56] curquiza opened #42 "Upgrade scrapy"
This package currently uses scrapy v1.7.4.

We cannot upgrade it to v2.X.X and even to v1.8.0 because of this error:

[code]

Goal: fix this error and upgrade scrapy to v2.X.X.

[2020-06-30 14:57] renehernandez commented on #21
@curquiza I came back to check if I could help improve the scrape documentation, based on my previous usage, but you have done a terrific job 🎉

[2020-06-30 14:58] renehernandez commented on #42
@curquiza I would like to attemp fixing this

[2020-06-30 14:59] curquiza commented on #42
That's would be awesome!

[2020-07-07 07:50] curquiza commented on #42
Closed with #47

[2020-07-07 07:50] #42 closed

[2020-07-07 13:18] renehernandez commented on #17
@curquiza I am going to take a look at this next

[2020-07-08 12:52] renehernandez commented on #17
I took a look at the codebase and we can solve it with removing this line: https://github.com/meilisearch/docs-scraper/blob/master/scraper/src/index.py#L106

Optionally, we could remove all the code related with updating the number of hits:

* `update_nb_hits_value` function at https://github.com/meilisearch/docs-scraper/blob/master/scraper/src/config/config_loader.py#L131
* `NbHitsUpdater` class

[2020-07-08 12:56] curquiza commented on #17
It looks ok for me 🙂
Keep in mind we still want the prompt in the terminal indicating the number of hits at the end. Maybe it would imply to extract some code of these parts.

[2020-07-08 13:06] renehernandez commented on #17
The number of hits is obtained from the `DocumentationSpider.NB_INDEXED` field. I'll double check anyways

[2020-07-09 11:29] renehernandez opened #49 "Wrong command line usage in Contributing.md"
In the [development workflow section](https://github.com/meilisearch/docs-scraper/blob/master/CONTRIBUTING.md#development-workflow) of the Contributing.md file, it says the following:

[code]

The line:

[code]
has an extra run argument after the path to `./docs_scraper`

It should be instead:

[code]

[2020-07-09 11:50] eskombro commented on #49
You are right! Well spotted @renehernandez thanks!

[2020-07-09 11:57] #49 closed

[2020-07-10 13:12] #17 closed

[2020-07-13 09:59] renehernandez commented on #16
@curquiza  I will take a look at this

[2020-07-13 10:15] renehernandez commented on #16
@curquiza Does this mean that the project will not support python version < 3.8? Should I update the [README](https://github.com/meilisearch/docs-scraper#from-source-code-) to mention python 3.8 as well, instead of python 3.6?

[2020-07-13 20:18] #16 closed

[2020-07-20 07:17] curquiza commented on #16
@renehernandez! I've just updated the README! Thanks for noticing it 🙂

[2020-07-20 13:34] renehernandez opened #53 "New release?"
Mainly to leverage the fix for https://github.com/meilisearch/docs-scraper/issues/17

[2020-07-20 13:36] curquiza commented on #53
It was my next task on my todo list 😉 doing it!

[2020-07-20 13:49] curquiza commented on #53
Closes with the [v0.10.0](https://github.com/meilisearch/docs-scraper/releases/tag/v0.10.0)

[2020-07-20 13:49] #53 closed

[2020-07-20 14:00] curquiza opened #54 "Fail to create Docker Image for since python 3.8 is used"
<img width="1313" alt="Capture d’écran 2020-07-20 à 15 59 08" src="https://user-images.githubusercontent.com/20380692/87946224-070c9800-caa2-11ea-8a2c-8dd91bb196e1.png">

See this [job](https://github.com/meilisearch/docs-scraper/runs/890089558?check_suite_focus=true)

[2020-07-20 15:35] renehernandez commented on #54
I think it would be nice to push to docker hub a prerelease version after every PR merged on master. That would help catch these issues before actually producing a release.
As a side benefit, it would allow folks to use the prerelease image to test on real scenarios

[2020-07-20 16:35] curquiza commented on #54
As a first step, I will add a test that builds a docker image on each PR, at least to test the docker image can be built.

[2020-07-20 16:39] #54 closed

[2020-08-07 10:51] kappa-wingman opened #61 "Having problem to run docs-scraper 0.10.1 with Python 3.6/3.8.0"
I had machines running Fedora 32 and Centos 7/8.

On the development machine (Fedora 32). It has Python 3.8.5.
I could run the docs-scraper 0.10.1 without problem.

On the production machine Centos 7 (python 3.6) and Centos 8.2 (python 3.6 and python 3.8.0)
It could compile the docs_scraper package but having problem when it run, below is the error message.

$ pipenv run ./docs_scraper docs_scrape

[2020-08-12 08:13] curquiza commented on #61
Hello @kappa-wingman! Nice to see you again 😁 (and sorry that's to report an issue...)

It's indeed weird... I don't know why it works on MacOs, Ubuntu, Debian, Fedora but not on CentOS. I will take a look as soon as possible.

If other users have the same problem and would add precision or know how to solve that, it would be great 😁

[2020-08-12 14:02] kappa-wingman commented on #61
Hello @curquiza!

Got an update. I could use my old python virtual environment (venv) for doc scraper (0.9.3) to run the new doc scraper python program (0.10.1).

Here is the diff of the package version of the virtual venv:

[code]
Then I downgrade Scrapy 2.3.0 to 1.7.4, I can use docs-scraper with meilisearch 0.12 now..
After that I checked my Fedora venv, it's using Scrapy 2.2.1.
I downgrade Scr

[2020-08-17 12:51] curquiza commented on #61
Great! Glad to read you solved the issue!
Should we upgrade Scrapy into v2.2.3 from your POV? Would it avoid the issue you had?

[2020-08-17 13:45] kappa-wingman commented on #61
The latest version of Scrapy (v2.3.0) would cause problem.
So installing a version lower than (v2.3.0) should be fine.

[2020-08-17 13:46] curquiza commented on #61
Ok, if I understand well, I can close the issue then?

[2020-08-17 13:47] kappa-wingman commented on #61
Yes, please close it. Thanks.

[2020-08-17 15:19] #61 closed

[2020-09-10 12:42] curquiza opened #64 "Upgrade scrapy to v2.3.0 by removing the NotImplementedError"
Since this [scrapy upgrading](https://github.com/meilisearch/docs-scraper/pull/60), we got an error when running:

[code]

Only the `master` branch is concerned, the latest release (`v0.10.1` does not contain this error).

## Edit

I reverted the [concerned PR](https://github.com/meilisearch/docs-scraper/pull/60) (manually because GitHub wasn't able to revert it automatically) to make the `master`

[2020-09-10 13:00] renehernandez commented on #64
@curquiza I'll take a look later today

[2020-09-15 14:40] renehernandez commented on #64
@curquiza I am not able to reproduce the error. Could you share the `config.json` file you are using to test this?

[2020-09-15 15:17] renehernandez commented on #64
So the problem is that the Spider base class now returns `NotImplemented` error for the `parse` method invocation. We are invoking the method as a callback in the `DocumentationSpider` class at:

* [start_requests](https://github.com/meilisearch/docs-scraper/blob/master/scraper/src/documentation_spider.py#L139)
* [parse_from_start_url](https://github.com/meilisearch/docs-scraper/blob/master/scrape

[2020-09-21 15:41] #64 closed

[2020-09-25 00:27] dependabot-preview[bot] opened #68 "Dependabot couldn't authenticate with https://pypi.org/simple/"
Dependabot couldn't authenticate with https://pypi.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/meilisearch) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/meilisearch/update-logs/48540231).

[2020-09-25 19:48] #68 closed

[2020-11-04 16:32] curquiza commented on #32
The #77 "partially" fixed the issue. It does not provide any detailed check, but launch the scraper against a MeiliSearch instance, and at least, it checks there is no crash when using it.

[2021-01-06 16:58] fharper opened #86 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:55] fharper opened #88 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-18 22:52] #88 closed

[2021-02-14 18:00] #86 closed

[2021-02-26 09:01] suppadeliux opened #101 "Having issues indexing my jekyll website from local container"
Hello,

I am very new to meilisearch, and I am very excited to be able to integrate it to my website.

I am using the docs-searchbar.js, and the scraper.

My starting point of the site is generated with Jekyll, but all the pages are not generated in the same way, they are generated dynamically with a js script.

I am able to index all links redirecting to all my pages (which are just like table of

[2021-02-26 13:56] sanders41 commented on #101
Do you get a specific error? The docs scraper is using Selenium so it should handle dynamic pages without an issue.

[2021-02-26 14:19] suppadeliux commented on #101
My issue seems very related to this one => https://github.com/meilisearch/MeiliSearch/discussions/770. I tried another way, like in this related issue, but I am not able to make it work with my doc.
Maybe I am not using the right CSS selectors from my nav-bar.

Actually there is no errors, appart from having `Crawling issue: nbHits 0 for docs` when the scraper can't find the selector.

Thank you f

[2021-02-26 18:20] sanders41 commented on #101
Your issue references localhost so I'm assuming there isn't a live site we could look at?

[2021-03-01 09:59] bidoubiwa commented on #101
Hello @suppadeliux! I'm looking at your issue later today! I will come back with an answer :)

[2021-03-01 10:48] suppadeliux commented on #101
I am working on localhost for testing, but the docs website is public, here's is the url => https://docs.redpesk.bzh/

[2021-03-01 16:07] bidoubiwa opened #103 "Docs-scraper not working when url has a port"
As for now, docs-scraper does not work on docs-scraper. A workaround would be to use a tool like [ngrok](https://ngrok.com/).

The bug should be fixed.

When trying to scrap with localhost you will receive the following result:

Problem existed in docsearch-scraper as well: https://github.com/algolia/docsearch-scraper/issues/461#issuecomment-496581266

[2021-03-01 16:08] bidoubiwa commented on #101
Related to this: https://github.com/meilisearch/docs-scraper/issues/103

[2021-03-01 17:06] suppadeliux commented on #101
Wow! I didn't even thought the cause could be my site running locally. Thank you very much!

It works but something seems not right. It takes 3 minutes to index and it stays frozen in the console for a while, until it times out =>
[code]
I did some search querys with POSTMAN, and it I think all it's indexed.

Thank you again for the help :+1:

[2021-03-02 08:35] suppadeliux commented on #101
Oh I am sorry, I forgot in the version I posted there is only 2 sections of the site.

Here is the config file of the scrapper:

[code]

[2021-03-15 10:42] suppadeliux opened #105 "Add compatibility so that both URL path types are supported (absolute and relative)"
Hello,

I am currently working on a documentation website generated with Jekyll, and Meilisearch has been pretty easy to add, with the docs-scraper and  the docs-searchbar.

In fact, I have many instances of my documentation website hosted in different places

That means that I have to run the docs-scraper for each site (update of repository).

I wish I could run only one scraper for all my sites,

[2021-03-16 14:54] curquiza commented on #105
For more documentation your can check out the README of this repo (docs-scraper)

[2021-03-16 15:15] suppadeliux commented on #105
Hello, and thanks for taking the time to answer to my question.

I have many `docs-scraper.config` files, each one containing the url for each documention website. Each time I run the scraper, I run it for each site.

What I wish I could do is only run the scraper once, and having relative URLS on my index, instead of absolute.

So When I will have the response from my meilisearch instance, I will

[2021-03-16 15:55] curquiza commented on #105
I understand now. Unfortunately, and if I'm not wrong, there is no way to change the `url` field...
Once your documents are added to MeiliSearch, what you can do is to update all the `url` fields in your documents:
- you get all of them (using `offset`) with this route: https://docs.meilisearch.com/reference/api/documents.html#get-documents
- you update them with this route: https://docs.meilisear

[2021-03-29 01:01] sanders41 commented on #103
Based on the algolia issue discussion I don't think the issues is because of using localhost, instead it looks like the issue is caused any time there is a port provided. So in the example here, `http://localhost:8080`, I think the 8080 is the problem and not the localhost. I think this also explains why ngrok can be used for a workaround as it gives you a url to use on the default port 80.

That

[2021-03-29 02:08] bidoubiwa commented on #103
Hey @sanders41
Thanks for the investigation. Could you link the related code in instantsearch? I would love to see it

[2021-03-29 02:33] sanders41 commented on #103
I have not looked through the algolia code yet. What lead me to the port idea was:

and

Then from that where I started looking around here was https://github.com/meilisearch/docs-scraper/blob/de09dcfa02d6b1a09a0ad8005ce1e591c37e2133/scraper/src/config/urls_parser.py#L122 and https://github.com/meilisearch/docs-scraper/blob/de09dcfa02d6b1a09a0ad8005ce1e591c37e2133/scraper/src/custom_downloader_mid

[2021-03-29 17:10] sanders41 commented on #103
@bidoubiwa  I have been looking into this some more and I still can't find anywhere that removes or changes the port. I also can't find anywhere that would see localhost specifically as an issue. I currently have another theory based on some behavior I have seen while testing, but I'm not very familiar with the doc scraper so I'm wondering if you can tell my if the following makes sense as a possi

[2021-03-31 03:45] sanders41 commented on #103
I looked through algolia's scraper and found some additional configuration settings I was able to use to get the scraper to work when the url includes a port. To scrape the MeiliSearch docs on local host run with `yarn dev` I used the following settings:

[code]

`js_render` and `js_wait` were used because the the pages are generated with JS when using `yarn dev` so the pages needed ChromeDriver i

[2021-03-31 07:28] curquiza opened #114 "Upgrade pylint"
Upgrade pylint (like in this PR https://github.com/meilisearch/docs-scraper/pull/113) and fix the linter errors.

[2021-03-31 10:29] curquiza opened #115 "Support python 3.9"
Related to https://github.com/meilisearch/docs-scraper/pull/111#discussion_r604769317

Supporting python 3.9:
- precise it in the README
- add it to the CI (we still need to test older python versions)

[2021-03-31 14:30] #103 closed

[2021-04-02 16:06] AABur commented on #114
Linter errors are caused by duplicate code in tests. I suggest parameterising the tests with `@pytest.mark.parametrize` and `@pytest.fixtures`. Then common fixtures can be put in `conftest.py`

I have made changes to a few tests. If you agree with this method, I will continue to work on this issue.

https://github.com/AABur/docs-scraper/commits/upgrade_pylint-2.7.4

[2021-04-02 16:15] anhducbkhn opened #117 "CONFIG is not a valid JSON"
This is my config.json file

[code]

then I run docker

[code]

this is what I got

[code]

Please help!.

[2021-04-02 21:44] bidoubiwa commented on #117
I tried it locally and it seems to be a correct JSON. But when I tried it  locally with an empty json and I got the same error you have!  It might come from your docker command. Are you sure the file is correctly communicated to docker?

[code]

[2021-04-03 01:08] anhducbkhn commented on #117
@bidoubiwa did you try with docker?

My env:

[code]

I created a folder, checked config file.

[code]

then, I run docker command from terminal,
[code]
then, I got that error.

[2021-04-03 11:01] bidoubiwa commented on #117
The error you have is when the json file is empty. So either
[code]
[code]

the path is not correct.

Or!

[code]

The file is empty.

I tried your docker line:
[code]
[code]

I think there must be something wrong with your docker command

[2021-04-05 09:12] anhducbkhn commented on #117
@bidoubiwa so, the document https://github.com/meilisearch/docs-scraper/blob/main/README.md#with-docker- is not correct.

What I fix now is:

Create a Dockerfile
[code]
Then I build it

[code]
[code]

The result
[code]

[2021-04-14 12:48] #115 closed

[2021-04-14 19:05] bidoubiwa commented on #117
Thanks a lot, @anhducbkhn for pointing this out. I'll check this out and change the doc accordingly :)

[2021-04-14 19:12] bidoubiwa commented on #101
Hey @suppadeliux!  Localhost scrapping is now possible (well it was possible before but we did not figure it out :')) !  See #112
I see you have results, is this PR resolved?

[2021-04-15 06:48] suppadeliux commented on #101
Yeah, its resolved , thank you so much for the help!

[2021-04-15 08:22] #101 closed

[2021-04-15 11:40] bidoubiwa commented on #117
@anhducbkhn I found the confusion!

It comes from this line in the readme:

I tried the provided command again but with the absolute path to the file:
[code]

And it worked!
Could you confirm this works for you as well?

[2021-04-19 10:59] #117 closed

[2021-05-30 16:53] sanders41 opened #130 "Browser Tests"
The test suite needs to be run skipping any tests that uses chromedriver with `pipenv run pytest ./scraper/src -k "not _browser"`. Is this because the path is needed for the chrome driver? If that is the reason do you want them to be runnable? I could add an optional command line flag that lets you specify the path to the driver and make a fixture to set the environment variable which would make t

[2021-05-31 13:15] bidoubiwa commented on #130
Adding the flag would be a first step in updating the tests to a working version. Thanks for figuring this out!

I tried adding the chromedriver but tests kept failing with this error:
[code]
But when I used the same chromedriver to scrap locally the way you showed on the README.md it works great. I'm wondering what the problem could be.

[2021-05-31 13:44] sanders41 commented on #130
I think, but haven't verified yet, that is is because of the url that it is trying to scrape. For example [this test](https://github.com/meilisearch/docs-scraper/blob/7eed8fceeceb71aebb4023b0b12189bedd80d85d/scraper/src/tests/config_loader/open_selenium_browser_test.py#L31-L63) is trying to scrape `https://symfony.com/doc/(?P<version>.*?)/(?P<type_of_content>.*?)/`. Do you know of a page we could

[2021-05-31 14:40] sanders41 commented on #130
After more thinking docs.meilisearch.com is static so maybe that's not the best sight to use.

[2021-05-31 15:48] sanders41 commented on #130
Here is where I am with some more looking into it. [test_extra_facets_should_be_set_from_start_urls_variables_browser](https://github.com/meilisearch/docs-scraper/blob/7eed8fceeceb71aebb4023b0b12189bedd80d85d/scraper/src/tests/config_loader/get_extra_facets_test.py#L14-L35) and [test_browser_not_needed_by_default](https://github.com/meilisearch/docs-scraper/blob/7eed8fceeceb71aebb4023b0b12189bedd8

[2021-05-31 21:34] sanders41 commented on #130
I have all the tests except [test_browser_needed_when_config_contains_automatic_tag](https://github.com/meilisearch/docs-scraper/blob/4a821851103820a280cf51fce533e826fa95ea88/scraper/src/tests/config_loader/open_selenium_browser_test.py#L31-L63) working. Based on the name of the test I think it is saying that `js-render` should automatically set to true if needed or there is a value somewhere that

[2021-06-02 13:31] bidoubiwa commented on #130
Hey @sanders41 yes I think moving the tests to the root is a good idea and also a good practice. How did you make the tests work? I'm curious to see what your solution was. Thanks a lot 🔥

[2021-06-02 13:37] sanders41 commented on #130
Sounds good. I'll finalize things and get it pushed soon. The main issue was the mocked `time.sleep`. Basically it was timing out before selenium had a chance to run. I removed that mock and the tests started passing.

[2021-06-05 20:29] sanders41 commented on #32
I was looking into this and I'm not sure if I don't fully understand or if there is an issue. For this one:

if I use the following config

[code]

Then I get the error `TypeError: argument of type 'NoneType' is not iterable` that happens [here](https://github.com/meilisearch/docs-scraper/blob/4a821851103820a280cf51fce533e826fa95ea88/scraper/src/config/selectors_parser.py#L64). I am thinking the j

[2021-07-01 13:35] linlai163 opened #139 "Exception: Env CHROMEDRIVER_PATH='/usr/bin/chromedriver' is not a path to a file"
Hey guys.
I have trouble in using the docker scraper, I try it on mac and ubuntu, every time I run the docker image, it tells me that  the file named chromedriver is not a file.
But I could run it manually.
Can you help me resolve it ? Is the chromedriver in the docker image or locallly?

[2021-07-01 14:23] ssaylo commented on #139
@bidoubiwa
Hey, this is my ```config.json``` file, it uses react so this need the ```js_render``` and ```js_wait```
[code]
and this is my docker command
[code]
This problem has bothered me for a whole day and now I don't konw how to resolve it,  thank you for your help.

[2021-07-01 14:30] bidoubiwa commented on #139
In your config file you are using the following options:

[code]

Which requires a downloaded `Chrome` binary. You probably have it already on your computer at the default path provided in `docs-scraper`.  This means you should install chrome driver in your docker instance.

[See here](https://github.com/meilisearch/docs-scraper#js_render-optional)

[2021-07-01 14:35] ssaylo commented on #139
The problem is that I‘ve been installed chrome and chrome driver，and I also set the docker environment ```-e CHROMEDRIVER_PATH=/usr/local/bin/chromedriver \```, but it doesn't working. So sad.
![image](https://user-images.githubusercontent.com/52954956/124141823-4d44e680-dabc-11eb-80aa-4b8d8c2302aa.png)

[2021-07-01 14:58] sanders41 commented on #139
Docker won't be able to use the chrome driver from you local environment. You could install it into the container by updating the `apt-get` section in the `Dockerfile`

[code]

Then build the container `docker build -t doc-scraper-chrome .` and run with your custom container. I think this should work, but  haven't had a chance to test it. @bidoubiwa please correct me if I'm wrong about this.

[2021-07-02 01:55] ssaylo commented on #139
@sanders41 appreciate

[2021-07-02 06:29] ssaylo commented on #139
@sanders41 The solution that you suggested me didn't working because it need chromedriver...
@bidoubiwa Finally, I found a solution.The problem is the docker image which named python:3.8.4-buster doesn't has chrome and chrome driver, so if you use the js_render, you must install chrome and chrome driver manually. For convenience, I use the algolia's base image and finally solved it.
Thanks again.

[2021-07-02 12:20] sanders41 commented on #139
I'm surprised chromium didn't work, I've use it in place of chrome for chrome driver before without issue. Maybe it was setting it as an executable that made a difference. Either way glad you got it working.

@bidoubiwa would it be worth adding chromedriver to the container by default? Seems to be more and more common to have JS rendered pages, but maybe not so much for docs specifically. I guess

[2021-09-29 08:19] bidoubiwa commented on #11
`attributesForFaceting` are now called `filterableAttributes`.

If I understand correctly your suggestion. We want to add `filterableAttributes` as a setting option like this:

[code]

and add it to the list of settings added on the chosen index

[2021-09-29 08:24] bidoubiwa opened #154 "Determine mandatory fields in the config file"
From @sanders41 in this [comment](https://github.com/meilisearch/docs-scraper/issues/32#issuecomment-855291724)

When using a minimal docs-scraper config:

[code]

Errors are thrown for missing fields:

We should be able to determine what fields are mandatory and which fields should or should not be mandatory.

[2021-09-29 08:28] bidoubiwa commented on #32
@sanders41
Concerning your first question I think it is important that we determine which fields are mandatory, see #154

COncerning your second question, I was wondering if we could either provide a mocked website or run the documentation locally on the CI and scrape on it.

I agree that no network calls should be made during CI.

We can just make a call back to MeiliSearch to see if the settings

[2021-09-29 08:53] bidoubiwa commented on #105
We need a PR that add a compatibility with both path techniques. Thanks for raising this 🔥 Feel free to implement it otherwise we wait for a contributor to do so

[2021-10-01 11:03] #130 closed

[2021-10-02 17:54] askalik commented on #154
Can I take this one?

[2021-10-04 08:03] bidoubiwa commented on #154
Of course! Thanks a lot @askalik . Maybe adding verification of the provided options so we can throw elegantly when a field is missing? Good luck :)

[2021-10-04 09:54] bidoubiwa commented on #139
Chromedriver is 16Mb, it also needs to be updated to the chrome version of the user. So if my chrome is at 9.X and my chromedriver at 9.Y it throws an error.

Alternatively we can:

Use the algolia base image in our dockerfile since this is after all based on their repo. @curquiza what do you think?
`FROM python:3.8.4-buster` becomes:  `FROM algolia/docsearch-scraper-base` in the [DockerFile](http

[2021-10-04 17:39] curquiza commented on #32
I confirm, we should check the settings have been well imported, see https://github.com/meilisearch/docs-scraper/pull/158
🙂

[2021-10-05 14:37] bidoubiwa commented on #154
Hello @askalik just an update. We can only guarantee the assignment for 5 days. After which if someone else wants to give it a try we will change the assignation. Good luck with the PR!

[2021-10-05 14:49] askalik commented on #154
@bidoubiwa i will work on this today. I will reach out if i have any questions.

[2021-10-08 10:31] edi9999 opened #162 "Implement "selector_rank""
**Description**

Currently, there is a way to add rank between pages

[code]

Documented here :

https://github.com/meilisearch/docs-scraper#using-page-rank-

I have a usecase where my pages do not have different page rank, but rather some content on the page has more significance than other.

I would like to be able to rank the content with selectors.

**Basic example**

[code]

In this case, I k

[2021-11-05 13:33] edi9999 commented on #162
@bidoubiwa any update on this ?

[2021-11-10 11:23] bidoubiwa commented on #162
Hello @edi9999 sorry for the delay with the hacktoberfest I have been very busy.

### Text ranking suggestion

I very much like the idea. I would keep both the possibility to declare it using a string (current behavior) and your suggestion with an array. The same way it works for some other options in the config file.

### Selector rank

I'm not sure why this problem can not be fixed with your pre

[2021-11-10 15:25] edi9999 commented on #162
Hello @bidoubiwa , thanks for the reply !

It was not very clear in my previous message, I just meant to say that the problem that I showed with the `<h1>My website</h1>...` was a simplified example to explain the problem. I also wanted to say that I have exactly the same problem (with probably just some more complex selectors on my real production website.

For the last suggestion, I wanted to as

[2021-11-11 10:53] bidoubiwa commented on #162
Yes, I think `V_Selector_Arrays` is very clear! Also, it doesn't separate concerns which could create fields that are depending on another one.

If you want to implement this it would be a very nice addition :)

[2021-11-11 13:25] curquiza opened #170 "CI jobs are failing"
The jobs in the CI are failing
- linter-check
- unit-tests
- integration-tests

https://github.com/meilisearch/docs-scraper/actions/runs/1445509929

[2021-11-16 14:16] edi9999 commented on #162
I plan to do it, but not right now, I also have a lot of things going on.

[2021-11-16 17:44] bidoubiwa commented on #162
Okey! No problem :) Thanks anyway

[2021-12-05 19:08] AABur commented on #114
This issue is obsolete and I think it should be closed.

[2021-12-06 11:13] bidoubiwa commented on #114
Thanks a lot @AABur

[2021-12-06 11:13] #114 closed

[2021-12-09 11:03] bidoubiwa opened #177 "Fix chromedrivers tests in CI that had to be removed"
**Description**
The tests on the chromedriver are [removed again](https://github.com/meilisearch/docs-scraper/pull/173) from the CI because of failing tests with selenium

[See failing tests](https://github.com/meilisearch/docs-scraper/runs/4056190321?check_suite_focus=true)

**Expected behavior**
Not fail

**Current behavior**
[code]

**Screenshots or Logs**
If applicable, add screenshots or logs

[2022-01-19 00:53] ksnyde commented on #154
It would be really helpful if you published a Typescript interface that described the interface. I think it would be much more compact representation of what is allowed than parsing through prose.

I've created a boilerplate today which I is not correct yet but might serve as a starting point:

[code]

[2022-01-19 01:19] sanders41 commented on #154
How would the Typescript interface be used? The scraper is written in Python so I don't see where the Typescript interface would get used.

[2022-01-19 01:24] yankeeinlondon opened #181 "Example configuration complains about invalid JSON"
I've installed the latest Docker image locally and to start I cut and paste the example JSON you provided in your docs and changed a few properties but the JSON is 100% valid JSON and yet the container exists with the following error:

<img width="756" alt="image" src="https://user-images.githubusercontent.com/980757/150046073-afb0d0ff-c0f2-4cf8-b64f-b66623f55d25.png">

Here is the JSON that was u

[2022-01-19 03:33] sanders41 commented on #181
In your docker run do you have `-v config.json:/docs-scraper/config.json`? if yes try `-v /path/to/config.json:/docs-scraper/config.json` instead.

If that works you will probably get the error: `raise SelectorSyntaxError(cssselect.parser.SelectorSyntaxError: Expected ']', got <DELIM ':' at 12>`. It is not liking this part of the config: `[title=tauri::*]`.

[2022-01-19 03:40] ksnyde commented on #181
but that is a valid DOM selector, right? I tried replacing that line with just "null" and I still get the error.

[2022-01-19 04:11] sanders41 commented on #181
I haven’t had a chance to look closely at the parser error yet, but I think it does not allow pseudo elements. Here are the [docs](https://cssselect.readthedocs.io/en/latest/#cssselect.GenericTranslator.css_to_xpath) for what I think the reason is. This is from a quick scan of the code in this section so I could be wrong about the reason.

[2022-01-19 15:01] ksnyde commented on #181
when you say _pseudo elements_ I presume you're referring to the wildcard character and not the standard syntax for an attribute selector? Also, bear in mind I get the same error with this line removed so while this may be _another_ issue it is not the one causing this current situation.

[2022-01-19 21:01] ksnyde commented on #181
I get the same value error with or without the `tauri::*` line being in the configuration. So if the wildcard is an error we've not seen it yet as something else is blocking (or at least that's my read).

[2022-01-19 21:12] sanders41 commented on #181
With the value error what does your docker run look like. You will see the value error with `docker run -v config.json:docs-scraper/config.json` (I excluded all arguments but the -v), but `docker run -v /full/path/to/config.json:docs-scraper/config.json` should fix this error.

[2022-02-01 16:21] bidoubiwa commented on #154
@ksnyde
I m very curious on how to implement this. Do you have any sources that I might read ?

[2022-02-01 17:26] sanders41 commented on #154
@bidoubiwa I'm curious to hear also. If it turns out it won't work but it is something you want dataclasses, attrs, and Pydantic are Python options to do the same kind of thing.

[2022-02-03 12:42] SorryGames commented on #139
Hello,
If I'm not mistaking the problem is solved orally however no accepted pull request to solve it completely.
Any updates?

[2022-02-03 19:03] ksnyde commented on #154
I'm not very familiar with Python but since it's loosely typed the benefit would be less reachable for Python developers.

[2022-02-03 19:07] ksnyde commented on #154
In this regard, I did make a mistake in not considering the SDK and looking at it ... it does have types but they're not commented and I haven't gauged them yet for completeness or whether they cover the **scrapers** assumed document structure.

[SDK Types](https://github.com/meilisearch/meilisearch-js/blob/main/src/types/types.ts)

[2022-02-03 19:09] ksnyde commented on #154
Finally, I really would like to solve the original problem I mentioned here. I have a valid JSON file (that's in fact now just a cut and paste from what are in the docs) but for some reason it is not working and complaining that the JSON is invalid.

[2022-02-03 19:09] ksnyde commented on #154
I'm using AST representations of Rust, TS, and Markdown to build indexes but I'd really like to be able to compare the results to just scraping the HTML

[2022-02-03 19:11] ksnyde commented on #181
I'm going to give this some more attention today ... will let you know what I find but considering the RUST AST I'm using is considered unstable I really would like to be able to get this scraper to work for me.

[2022-02-03 19:20] ksnyde commented on #181
<img width="483" alt="image" src="https://user-images.githubusercontent.com/980757/152413056-9b0448d1-5076-4342-a440-5350a87f76f2.png">

I use **Docker Compose** to boot up both the scraper and Meilisearch. As you can see above the volume is mapped to my local file system in the scraper directory.

In the root of the monorepo I have both the compose file and as you can see the directory structure

[2022-02-03 19:21] ksnyde commented on #181
based on your comments above the first clear problem is that I had thought `config.json` was a second parameter to the run command ... but in fact there's only one command and no params.

[2022-02-03 19:24] ksnyde commented on #181
running the command, however, leads to:

[2022-02-03 20:42] ksnyde commented on #181
you'd think this kind of error message would lead to a simple solution but honestly I can't get it to work regardless of where I put the config file and/or adjust the run command. I'm not super up-to-speed on all things Docker so  maybe I'm doing something obvious and dumb.

[2022-02-04 00:50] sanders41 commented on #181
I think it is your volume path. If you change the volume from `./scraper:/data.ms` to `./docs_scraper/config.json:/docs-scraper/config.json` does it make a difference?

[2022-02-07 19:00] ksnyde commented on #181
Sadly no that's where I started. I know this is a stretch but would you consider a quick pairing session to go over this. Totally understand if you don't have time for that.

[2022-02-08 02:14] brunoocasali commented on #139
Hey people, I will look into it during this week :D

[2022-02-08 02:27] sanders41 commented on #181
@bidoubiwa has much more experience than I do with the day to day use, I've really just worked in the code base and know how to get it running from that. That said, I'm happy to try to help if I can. Are you an Meilisearch's Slack? I am Paul over there (There are a few Paul's, I'm the one with just Paul and no last name) if you want to send me a message to try to set something up.

[2022-02-08 16:02] ksnyde commented on #181
i rarely boot up Slack anymore ... but yes I am connected it would seem. I'll say hello over there.

[2022-02-08 22:22] brunoocasali commented on #170
Since the tests are working in the last actions, I suppose this could be closed!

<img width="908" alt="image" src="https://user-images.githubusercontent.com/4116980/153085583-ceb44219-6934-4d21-94e9-d273be1e2cd2.png">

[2022-02-08 22:22] #170 closed

[2022-02-09 20:48] brunoocasali opened #185 "Publish a new Docker image containing Chrome binary"
In order to solve the issue https://github.com/meilisearch/docs-scraper/issues/139 **for the Docker users**, we will need to publish a new version of the base `Dockerfile` containing the Chrome binary.

To accomplish this issue we need to:

- [ ] Create a new Dockerfile with the Chrome binary additions
- [ ] Configure Github Actions to release a new image version `getmeili/docs-scraper-with-chrome

[2022-02-18 11:41] GarlandM opened #190 "TypeError: argument of type 'NoneType' is not iterable"
I am on the Meilisearch droplet from Digitalocean.

Fresh installation of docs-scraper via install directions, python 3.8.2.

When attempting to run the first scrape, I receive the following error:

`pipenv run ./docs_scraper config.json
Traceback (most recent call last):
  File "./docs_scraper", line 22, in <module>
    run_config(sys.argv[1])
  File "/root/docs-scraper/scraper/src/index.py", lin

[2022-02-18 13:37] sanders41 commented on #190
You need to provide some [selectors](https://github.com/meilisearch/docs-scraper#more-about-the-selectors). I am not sure if the selectors are a true requirement or if this is a bug, there is some discussion [here](https://github.com/meilisearch/docs-scraper/issues/32#issuecomment-855291724) and [here](https://github.com/meilisearch/docs-scraper/issues/154) about this.

[2022-02-18 14:57] GarlandM commented on #190
Interesting, in the docs it lists selector keys as "Optional"

[2022-02-18 17:29] sanders41 commented on #190
I have not had a chance to test this, but i wonder if you use this if it will work.

[code]

[2022-03-16 10:23] mdraevich opened #198 "docs-scraper integration with Apache Tika"
Hello,
Recently I completed the task to build local search system with the possibilities to index word files / markdown / pdf.

I made this one using nginx autoindex module (customized a bit) and meilisearch (scraper + engine + search bar).
Just because docs-scraper do not index word / markdown / pdf files by default, I made some sort of changes:
1) for markdown files I used [markdown2](https://gi

[2022-03-28 13:43] curquiza commented on #198
Hello @SorryGames thanks for this issue :)
I re-open it so that @bidoubiwa or @brunoocasali make a decision regarding it!

Also, your link regarding your code is broken (404)

[2022-04-05 08:08] SorryGames commented on #198
Hey, link is pointing to the deleted repository (made some kind of clean up)
:)

I will touch you a bit later with updated code.

[2022-04-14 02:48] #139 closed

[2022-04-14 15:13] silvia-YQY opened #211 "the command docs_scraper could not be found within PATH or Pipfile's [scripts]."
hi
I have trouble in using the docker scraper, I try it on mac, when I run the docker, it tell me ` the command docs_scraper could not be found within PATH or Pipfile's [scripts].`. I don't know what I did wrong.
Can you help me solve this problem？

#My steps

## frist
[code]
* meilisearch_chrome is my local image which in order to solve the `Env CHROMEDRIVER_PATH='/usr/bin/chromedriver' is not a

[2022-04-17 18:51] sanders41 commented on #211
Are you sure your port is correct? By default Meilisearch runs on port 7700 not 9494.

`meilisearch_chrome`, this should be the name of the image `getmeili/docs-scraper:latest`.

[code]

Or did you build a custom image? Based on `meilisearch_chrome` I am guessing you are trying to scrape a JavaScript rendered page? If so you may still run into issues. If so check this issue #139

[2022-05-16 15:15] brunoocasali opened #219 "Update index without downtime"
Swap indexes without downtime.

Currently is not possible in Meilisearch but as soon as it is we need to implement it here.

The roadmap idea is here: https://roadmap.meilisearch.com/c/65-swap-index

[2022-05-16 17:16] curquiza commented on #219
Something already discussed on the product side here: https://github.com/meilisearch/product/discussions/79
This is something I'm waiting for a long time personally haha

[2022-07-15 23:54] theowenyoung opened #231 "docs scraper failed to build indexes with v0.28.0 405 Client Error: Method Not Allowed for url"
**Description**
Description of what the bug is about.
[0.28.0](https://github.com/meilisearch/meilisearch/releases/tag/v0.28.0)

**Current behavior**
[code]

**Environment (please complete the following information):**
- OS: [e.g. Debian GNU/Linux] Debian
- Meilisearch version: [e.g. v.0.28.0]
- docs-scraper version: [e.g v0.12.2]

[2022-07-16 00:06] theowenyoung commented on #231
I tried to redeploy 0.27.2, and it works. so it may be a problem to adapt of version 0.28.2

[2022-07-16 17:47] brunoocasali commented on #231
Hi @theowenyoung, you're correct this package does not support Meilisearch v0.28 yet, you can check that here https://github.com/meilisearch/docs-scraper#-compatibility-with-meilisearch

There is an ongoing PR to add this functionality https://github.com/meilisearch/docs-scraper/pull/223

@alallema I'll close this, but feel free to reopen if you want to :)

[2022-07-16 17:47] #231 closed

[2022-08-03 16:36] brunoocasali commented on #185
@alallema, after #235 is merged, now we have an increase in the size of our Docker image:

<img width="1297" alt="image" src="https://user-images.githubusercontent.com/4116980/182661514-a49c5b76-a854-4931-a8ec-29eaf2d849c8.png">

This is not ideal, but if we were straight to what this issue says, the job is not done yet 😅.

Two choices:

- Reopen this issue and just close it when we have a new doc

[2022-08-04 09:44] alallema commented on #185
@brunoocasali, I think it's better to keep this one open and maybe change the title no?

[2022-08-09 10:45] gmourier opened #236 "Doc Scraper removing old index on 2nd run"
Initially created by @munim
[2 days ago](https://github.com/meilisearch/product/discussions/507#discussion-4285402)

Dear team,

I am trying out Meilisearch and indexing our side using docs-scraper project from Meilisearch. It worked for me at some level but when I ran the scraper again with the same command, it cleaned all the items and started from scratch. Here's what I did:

1. Created a Docke

[2022-08-24 06:19] mdraevich commented on #185
@alallema @brunoocasali
Seems like greater image size has been caused by the installation of chromium-driver.
By taking into account dependencies of [chromium-driver](https://packages.debian.org/buster/chromium-driver) it's possible to figure out why it happened - at least [chromium-browser](https://packages.debian.org/buster/chromium) being a dependency has installed size from 100MB-200MB dependi

[2022-08-25 20:19] mdraevich commented on #185
@brunoocasali @alallema
I spent a little time on building different Dockerfiles in order to compare their final **uncompressed** size.
I have three dockerfiles:
- [with_chromium.Dockerfile](https://github.com/meilisearch/docs-scraper/blob/main/Dockerfile) -- actual Dockerfile where chromium-driver & chromium are installed from debian repository.
- [with_chrome.Dockerfile](https://gist.github.com/m

[2022-09-02 10:47] mdraevich commented on #236
Hello, @munim

As far as I understand the described behaviour caused by [this line](https://github.com/meilisearch/docs-scraper/blob/3fa149a355372137211abbfb95a959a26cf9857d/scraper/src/meilisearch_helper.py#L104)

Though removing old entries is a proper option in most cases, @munim can override this behaviour by changing source code.

Hope you're doing great,
Matthew

[2022-09-05 15:18] bidoubiwa commented on #236
Hey @gmourier sorry for the delay!

Unfortunately we are not able to know between two scraping which documents are updated. The `id's` are generated randomly:

https://github.com/meilisearch/docs-scraper/blob/5b452af1b0b79be88c4449f6108fa50a28475a1a/scraper/src/strategies/default_strategy.py#L196-L202

If we do not remove the old documents, you are going to have your entries duplicated.

[2022-09-05 17:49] mdraevich commented on #236
Hello, @bidoubiwa

I have a bit different view on the question...
The digest hash for the same input will always be the immutable (the same). So in our case if the document has the same `hierarchy_to_hash`, `url` and `position` the value of hash function will be the same for first launch of docs-scraper and subsequent.

if URL (and its content) doesn't change the document `objectID` remains the sa

[2022-09-06 13:39] bidoubiwa commented on #236
Hey @mdraevich,

You are right, I did not give enough attention to what the script does. I think we initially decided to delete the index in order to wait less time for re-indexation when updating the settings. What happens is that when you add documents, they are being indexed in Meilisearch, and if then you add your settings, depending on the settings, Meilisearch has to re-index all the documen

[2022-09-06 17:00] brunoocasali commented on #185
Hello @mdraevich! Thanks for working on this. Your thoughts are really helpful!

My initial thought about reducing the image size was focused on splitting into two different images:

- `getmeili/docs-scraper` just what is required to run the scrapping
- `getmeili/docs-scraper-with-chrome` everything from the previous image + the entire chrome/chromium binary/

This brings extra complexity to manag

[2022-09-07 11:41] alallema commented on #185
Thank you so much @mdraevich for your research! @brunoocasali I totally agree with you.

[2022-09-21 08:53] alallema commented on #211
Hi @silvia-YQY,
Is any news on your issue? Do you figure out how to fix it?

[2022-09-22 08:43] brunoocasali commented on #185
Yeah, let's do it then. If somebody asks for a size compression, we can reopen this one.

[2022-09-22 14:48] #185 closed

[2022-09-27 09:31] alallema commented on #181
Hi @yankeeinlondon,
I took back this repo, I come to the news to see if this problem was solved or not. Did you still need help?

[2022-10-06 10:41] alallema commented on #181
Without news for a while, I close this issue. do not hesitate to reopen it if necessary.

[2022-10-06 10:41] #181 closed

[2022-10-06 10:41] alallema commented on #211
Without news for a while, I close this issue. do not hesitate to reopen it if necessary.

[2022-10-06 10:41] #211 closed

[2022-10-10 07:06] Karlostavitch1 opened #255 "Missing 'requests' module?"
**Description**
I am testing the docs-scraper on my Synology NAS, and the container stops immediately with the error listed below.

**Expected behavior**
Scrape some sites

**Current behavior**
container immediately stops on error.

**Screenshots or Logs**
File "./docs_scraper", line 5, in <module>
from scraper.src.index import run_config
File "/docs-scraper/scraper/src/index.py", line 7, in <modu

[2022-10-11 10:20] Karlostavitch1 commented on #255
my bad, didn't run the scraper in the pip environment as per the docker execution commend.

[2022-10-11 10:20] #255 closed

[2022-10-11 10:38] alallema commented on #255
Hi @Karlostavitch1,
No problem, thanks for closing the PR 😃

[2022-10-13 18:37] Smartmind12 commented on #11
@bidoubiwa Kindly review the PR and suggest feedback if any...Thanks!

[2022-10-24 09:38] mdubus opened #263 "Update `path to the config file` example in the Readme"
## What's wrong?

Inside the Readme, we have the following example on the [Run the scraper section](https://github.com/meilisearch/docs-scraper#from-source-code-) indicating `<path-to-your-config-file>`:

`pipenv run ./docs_scraper <path-to-your-config-file>`

But then, we can find these examples:

`<path-to-your-config-file>` is now `config.json` in the  [with Docker section](https://github.com/m

[2022-10-24 09:45] mdubus opened #264 "Add an explanation about the config file name inside the Readme"
## What's wrong

By reading the Readme from top to bottom, we are given [an example of config file](https://github.com/meilisearch/docs-scraper/issues/263) but it is not clear in which file we have to put this.

The information can be found below in an other section (the config file can be anything as it is passed as an argument later), but the information is arriving later than what we would expe

[2022-10-24 11:08] abhishak3 commented on #264
I would like to contribute to this issue. Please assign me.

[2022-10-24 11:10] abhishak3 commented on #263
I would love to take up this issue. Can you please assign it to me?

[2022-10-24 12:03] mdubus commented on #263
Hello @abhishak3 👋

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages volunteer contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://github.com/meilisearch/docs-scraper/blob/main/CONTRIBUTING.m

[2022-10-24 15:44] #263 closed

[2022-10-26 15:22] #264 closed

[2022-11-30 16:05] bidoubiwa opened #285 "docs-scraper is not compatible with python 3.11"
Because of selenium's dependency `exceptiongroup` we are not compatible with python `3.11`.

[code]

The latest version of `selenium` seems to remove this dependency See #283. Nonetheless, we should still ensure that we are compatible with python 3.11 once the PR is merged.